* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    background: url("https://i.pinimg.com/originals/58/5c/5b/585c5b316bce5a5a6e26f85e17b50e78.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
  }
  .v9_242 {
    width: 70%;
    height: 791px;
    /* background: linear-gradient(rgba(255,255,255,0.2199999988079071), rgba(255,255,255,0.20000000298023224)); */
    background: rgba(255,255,255,0);

    opacity: 1;
    position: relative;
    top: 0px;
    left: 250px;
    /* right: 1000px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v9_243 {
    width: 526px;
    height: 732px;
    /* background: rgba(138,174,146,0.800000011920929); */
    background: rgba(255,255,255,0.1);
    opacity: 1;
    position: absolute;
    top: 29px;
    left: 496px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
  }
  .v9_244 {
    width: 174px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 175px;
    left: 93px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 45px;
    opacity: 1;
    text-align: left;
  }
  .v9_245 {
    width: 190px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 267px;
    left: 93px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v9_246 {
    width: 225px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 178px;
    left: 664px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  .v9_247 {
    width: 190px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 367px;
    left: 93px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v9_248 {
    width: 151px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 469px;
    left: 291px;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  .v9_249 {
    width: 349px;
    height: 36px;
    /* background: url("../images/v9_249.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 302px;
    left: 93px;
    overflow: hidden;
  }
  .v9_250 {
    width: 349px;
    height: 36px;
    background: linear-gradient(rgba(255,255,255,0.019999999552965164), rgba(255,255,255,0.14000000059604645));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid linear-gradient(rgba(255,255,255,0.41999998688697815), rgba(255,255,255,0.4699999988079071));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v9_251 {
    width: 190px;
    color: rgba(255,255,255,0.6000000238418579);
    position: absolute;
    top: 9px;
    left: 21px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 11px;
    opacity: 1;
    text-align: left;
  }
  .v9_252 {
    width: 349px;
    height: 36px;
    /* background: url("../images/v9_252.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 402px;
    left: 93px;
    overflow: hidden;
  }
  .v9_253 {
    width: 349px;
    height: 36px;
    background: linear-gradient(rgba(255,255,255,0.019999999552965164), rgba(255,255,255,0.14000000059604645));
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 2px solid linear-gradient(rgba(255,255,255,0.41999998688697815), rgba(255,255,255,0.4699999988079071));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v9_254 {
    width: 190px;
    color: rgba(255,255,255,0.6000000238418579);
    position: absolute;
    top: 10px;
    left: 21px;
    font-family: Poppins;
    font-weight: Regular;
    font-size: 11px;
    opacity: 1;
    text-align: left;
  }
  .v9_255 {
    width: 194px;
    height: 54px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 402px;
    left: 664px;
  }
  .v9_256 {
    width: 107px;
    height: 36px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 517px;
    left: 93px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v9_257 {
    /* width: 74px; */
    color: rgba(255,255,255,1);
    position: absolute;
    top: 525px;
    /* left: 113px; */
    font-family: Poppins;
    font-weight: Bold;
    font-size: 13px;
    opacity: 1;
    text-align: center;
  }
  .v9_258 {
    width: 162px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 413px;
    left: 730px;
    font-family: Poppins;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: center;
  }


  .or {
    top: 567px;
    left: 265px;
    position: absolute;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
  }
  .v10_307 {
   
    width: 194px;
    height: 40px;
    opacity: 1;
    position: absolute;
    top: 625px;
    left: 295px;
    overflow: hidden;
    background-color:rgba(138, 174, 146, 0.800000011920929);
  }

  .v10_308 {
    background-color:rgba(138, 174, 146, 0.800000011920929);
    width: 194px;
    height: 40px;
    opacity: 1;
    position: absolute;

    top: 0px;
    left: 0px;
    
    overflow: hidden;
  }

  .v10_309 {
    width: 152px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 11px;
    left: 40px;
    font-family: Poppins;
    font-weight: SemiBold;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }

  .v10_310 {
    width: 23px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 8px;
    overflow: hidden;
  }
  .v10_311 {
    width: 194px;
    height: 40px;
    opacity: 1;
    position: absolute;
    top: 625px;
    left: 93px;
    overflow: hidden;
    background-color:rgba(138, 174, 146, 0.800000011920929);
  }